[submodule "Deep-Guard-Backend"]
	path = Deep-Guard-Backend
	url = https://github.com/salianDheeraj/Deep-Guard-Backend.git
	branch = main
[submodule "Deep-Guard-ML-Engine"]
	path = Deep-Guard-ML-Engine
	url = https://github.com/salianDheeraj/Deep-Guard-ML-Engine.git
	branch = main
