services:
  - name: deep-guard-backend
    type: web
    plan: starter
    build:
      type: docker
      context: .
      dockerfilePath: Deep-Guard-Backend/Dockerfile
    envVars:
      PORT: 5000
      SUPABASE_URL: "{{SUPABASE_URL}}"
      SUPABASE_ANON_KEY: "{{SUPABASE_ANON_KEY}}"
      NODE_ENV: "{{NODE_ENV}}"
      JWT_SECRET: "{{JWT_SECRET}}"
      SUPABASE_BUCKET_NAME: "{{SUPABASE_BUCKET_NAME}}"
      JWT_REFRESH_SECRET: "{{JWT_REFRESH_SECRET}}"
      GOOGLE_CLIENT_ID: "{{GOOGLE_CLIENT_ID}}"
      OPENAI_API_KEY: "{{OPENAI_API_KEY}}"
      SERVICE_ROLE_KEY: "{{SERVICE_ROLE_KEY}}"
      FRONTEND_URL: "{{FRONTEND_URL}}"
      ML_API_URL: "http://deep-guard-ml-engine:8000"
      ML_VIDEO_URL: "http://deep-guard-ml-engine:8000/detect/deepfake/video"
      ML_IMAGE_URL: "http://deep-guard-ml-engine:8000/detect/deepfake/images"
      client_SECRET: "{{client_SECRET}}"
      EMAIL_USER: "{{EMAIL_USER}}"
      EMAIL_PASSWORD: "{{EMAIL_PASSWORD}}"
      SMTP_HOST: "{{SMTP_HOST}}"
      SMTP_PORT: "{{SMTP_PORT}}"
      ENABLE_CSRF_CHECK: "{{ENABLE_CSRF_CHECK}}"

  - name: deep-guard-ml-engine
    type: web
    plan: starter
    privateNetwork: true
    routes:
      - type: private
    build:
      type: docker
      context: .
      dockerfilePath: Deep-Guard-ML-Engine/Dockerfile
    envVars:
      PORT: 8000
